<h1 class="page-heading">Admin Mysteries</h1>
<div>
    <a href="/admin">Back</a>
    <a href="/admin">Admin Home</a>
    <table class="admin-table" cellspacing="10">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Image</td>
                <td>Content</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        <% if (print) { %>
            <% for(var i = 0; i < print.length; i++) { %>
            <tr class="admin-table__row">
                <td><%= print[i].mystery_id%></td>
                <td><%= print[i].title%></td>
                <td>
                    <%= print[i].image%><br>
                    <%= print[i].image_2%><br>
                    <%= print[i].image_3%><br>
                    <%= print[i].image_4%><br>
                    <%= print[i].image_5%><br>
                </td>
                <td><%= print[i].content%></td>
                <td>
                    <a href="/edit_mysteries/<%= print[i].mystery_id %>" class="">Edit</a>
                    <a href="/delete_mystery/<%= print[i].mystery_id %>" class="">Delete</a>
                </td>
            </tr>
            <% } %>
        <% } %>
        </tbody>
    </table>
    <div>Add entry:</div>
    <div class="admin-form">
        <form action="/add_mystery" method="POST">
            <input class="admin-input" type="text" name="title" placeholder="Title"><br>
            <input class="admin-input" type="text" name="image" placeholder="Image 1"><br>
            <input class="admin-input" type="text" name="image_2" placeholder="Image 2"><br>
            <input class="admin-input" type="text" name="image_3" placeholder="Image 3"><br>
            <input class="admin-input" type="text" name="image_4" placeholder="Image 4"><br>
            <input class="admin-input" type="text" name="image_5" placeholder="Image 5"><br>
            <textarea class="admin-textarea" name="content" id="" cols="30" rows="10" maxlength="20000"></textarea><br>
            <button class="admin-button" type="submit">Save</button>
        </form>
    </div>
</div>
