<h1 class="page-heading">Weird YouTube</h1>
<input class="input-field hide" type="text" placeholder="Search" />
<div class="grid-container text-center">
   <% for (var i = 0; i < print.length; i++) { %>
   <div class="grid-column">
      <div class="content-item video-content">
         <h2 class="content-item__title"><%= print[i].title %></h2>
         <% if (print[i].gif) { %>
         <img class="content-item__image" src="gifs/<%= print[i].gif %>" />
         <% } else { %>
         <img
            class="content-item__image"
            src="http://img.youtube.com/vi/<%= print[i].url_video_id %>/0.jpg"
         />
         <% } %>
         <div
            id="frame<%=i%>"
            class="content-item__video"
            data-video="<%= print[i].url_video_id%>"
         ></div>
      </div>
   </div>
   <% } %>
</div>
